:root {
    --cursor: #a02050;
    --bg-main: #f7edf1;
    --fg-main: #35292f;
    --border: #c4a7b0;
    --bg-shadow-subtle: #e5dde0;
    --fg-shadow-subtle: #675462;
    --bg-neutral: #d7c9d0;
    --fg-neutral: #4e4053;
    --bg-shadow-intense: #cc95b7;
    --fg-shadow-intense: #683455;
    --bg-accent: #ecc0e4;
    --fg-accent: #a03068;
    --fg-red: #a00040;
    --fg-green: #006730;
    --fg-yellow: #704000;
    --fg-blue: #203080;
    --fg-magenta: #800060;
    --fg-cyan: #005560;
    --bg-red: #f2c0c5;
    --bg-green: #b9e2d0;
    --bg-yellow: #e9e6b0;
    --bg-blue: #bbcce8;
    --bg-magenta: #e0c0e7;
    --bg-cyan: #c2ebe8;

    --base-font-size: 16pt;
    --h1-size: 2rem;
    --h2-size: 1.9rem;
    --h3-size: 1.8rem;
    --h4-size: 1.7rem;
    --h5-size: 1.6rem;
    --p-size: 1.33rem;

    --sans-family: system, -apple-system, ‘Open Sans’, ‘Helvetica Neue’, sans-serif;
    --serif-family: system, -apple-system, ‘Open Serif’, serif;

    --font-headings: var(--sans-family);
    --font-body:     var(--serif-family);
}

html {
  color: var(--fg-main);
  background-color: var(--bg-main);
  font: var(--base-font-size)/1.4 var(--serif-family);
}
h1,h2,h3,h4,h5 { font-family: var(--sans-family); }
h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }
p { font-size: var(--p-size); }
