h1,h2,h3,h4,h5,h6,p,a,span {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

input[type="search"] { -webkit-appearance: textfield; }

main {
    clear: both;
    width: 100%;
}

a { &:link,&:visited,&:hover, &:active { color: var(--color-blue); } }

video,
audio,
img {
    max-width: 100%;
    height: auto;
}

sup {
    display: inline-block;
    font-size: 0.625em;
    font-weight: 500;
    position: relative;
    top: -0.625em;
    left: -0.125em;

    > a {
        &:link,
        &:visited,
        &:hover,
        &:active {
            display: block;
            text-decoration: none;
        }
    }
}

audio {
    display: block;
    margin-top: var(--border-size-large);
    margin-bottom: var(--border-size-xlarge);
    min-height: var(--border-size-xlarge);
}
