:root {
    /* borders */
    --border-size-xsmall:  1px;
    --border-size-small:   5px;
    --border-size-medium: 10px;
    --border-size-large:  20px;
    --border-size-xlarge: 40px;
    /* colors */
    --color-white:       white;
    --color-black:       #444;
    --color-true-black:  black;
    --color-green:       #008002;
    --color-gray:        gray;
    --color-gray-light:  #efefef;
    --color-gray-medium: #666666;
    --color-gray-dark:   #979797;
    --color-blue:        #0293FF;
    --header-color-list: var(--color-true-black);
    /* typography */
    --base-font-size: 1.6rem;
    --family-system: system, -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Oxygen, Ubuntu, Cantarell, ‘Open Sans’, ‘Helvetica Neue’, sans-serif;
    --font-headings: var(--family-system);
    --font-body:     var(--family-system);
    /* viewports */
    --small-phone:     480px;
    --large-phone:     640px;
    --small-tablet:    800px;
    --large-tablet:    960px;
    --small-laptop:   1120px;
    --medium-laptop:  1280px;
    --large-laptop:   1440px;
    --small-desktop:  1000px;
    --medium-desktop: 1760px;
    --large-desktop:  1920px;
    /* --standard-def : (-webkit-max-device-pixel-ratio: 1.49), (max-resolution: 143.9dpi), (max-resolution: 1.5dppx); */
    /* --retina :       (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.49dppx); */
}

.darkgreen, .darkgreen a { color: #006400 !important; }
.darkred, .darkred a { color: #8b0000 !important; }
.deeppink, .deeppink a { color: #ff1493 !important; }
.goldenrod, .goldenrod a { color: #daa520 !important; }
.olive, .olive a { color: #808000 !important; }
.slategray, .slategray a { color: #708090 !important; }
.steelblue, .steelblue a { color: #4682b4 !important; }
