html[dir="ltr"] .site-header .button { right: var(--border-size-large); }
html[dir="rtl"] .site-header .button { left:  var(--border-size-large); }

.site-header {
    position: relative;
    background-color: var(--fg-accent);
    padding: var(--border-size-large);

    .button {
        background: var(--bg-blue);
        position: absolute;
        top: var(--border-size-large);
    }
}

.header-logo a {    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url( "/crimethinc-logo-type-black.svg");
    overflow: hidden;
    text-indent: -10000%;
    white-space: nowrap;
    
    height: 3rem;
    width: 15rem;
    display: inline-block;
}

.language-switcher a,
.language-switcher { color: var(--fg-main, white) !important; }
.primary-navigation {
    margin: 1rem 0 0 0;
    display: inline-block;
}

.nav-link {
    display: inline-block;
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;
    margin-right: 1rem;

    a {
        text-decoration: none;
        &:link, &:visited { color: var(--bg-main); }
        &:hover, &:active { border-bottom: 1px solid var(--bg-main); }
    }
}

@media screen and (max-width: 800px) {
    html[dir="ltr"] .site-header .button { right: var(--border-size-medium); }
    html[dir="rtl"] .site-header .button { left:  var(--border-size-medium); }

    .site-header {
        padding: var(--border-size-medium);
        nav {
            display: block;
            margin-top: 0.4em;
        }
        .button {
            font-size: 12px;
            padding: 0.5em;
            top: var(--border-size-medium);
        }
    }
    
    .header-logo a {    
        height: 2rem;
        width: 10rem;
    }
}

@media screen and (min-width: 800px) {
    .site-header .nav-link {
        font-size: 1.7rem;
        a { padding: 1rem 0; }
    }
}
