.social {
  margin-top: 4rem;
  clear: both;
}

.social-links {
  margin-top: 2rem;

  .social-link {
    --icon-url: url("/social-icons/rss.svg");

    display: inline-block;
    a {
      display: inline-block;
      background-image: var(--icon-url);
      background-position: center center;
      background-orepeat: no-repeat;
      background-size: contain;
      height: 40px;
      width: 40px;
      overflow: hidden;
      text-indent: -10000%;
      white-space: nowrap;
      margin: 0 var(--border-size-small) var(--border-size-small) 0;
    }

    /* // The Mastodon account is on a domain called todon.eu */
    /* // the bluesky domain is bsky for now, but it may change or have more in the future */
    /* // the peertube instance domain is kolektiva.media */
    .link-domain-todon,
    .link-domain-mastodon  { --icon-url: url("/social-icons/mastodon.svg");  }
    .link-domain-email     { --icon-url: url("/social-icons/email.svg");     }
    .link-domain-facebook  { --icon-url: url("/social-icons/facebook.svg");  }
    .link-domain-github    { --icon-url: url("/social-icons/github.svg");    }
    .link-domain-instagram { --icon-url: url("/social-icons/instagram.svg"); }
    .link-domain-telegram  { --icon-url: url("/social-icons/telegram.svg");  }
    .link-domain-threads   { --icon-url: url("/social-icons/threads.svg");   }
    .link-domain-tiktok    { --icon-url: url("/social-icons/tiktok.svg");    }
    .link-domain-tumblr    { --icon-url: url("/social-icons/tumblr.svg");    }
    .link-domain-twitter   { --icon-url: url("/social-icons/twitter.svg");   }
    .link-domain-youtube   { --icon-url: url("/social-icons/youtube.svg");   }
    .link-domain-kolektiva,
    .link-domain-peertube  { --icon-url: url("/social-icons/peertube.svg");  }
    .link-domain-bandcamp  { --icon-url: url("/social-icons/bandcamp.svg");  }
    .link-domain-reddit    { --icon-url: url("/social-icons/reddit.svg");  }
    .link-domain-bsky,
    .link-domain-bluesky    { --icon-url: url("/social-icons/bluesky.svg");  }
  }
}
