#home {
    main {
        padding: 0;
        margin: 0 auto;
    }

    .h-feed {
        margin:  0 0 var(--border-size-xsmall) 0;
        padding: 0;
        list-style: none;

        > .h-entry {
            height: 300pt;

            @media screen and (min-width: 800px) {
                height: 400pt;
            }

            h1 {
                @media screen and (min-width: 480px) {
                    font-size: 6rem;
                }

                @media screen and (min-width: 800px) {
                    font-size: 8rem;
                }
            }

            h2 {
                @media screen and (min-width: 800px) {
                    font-size: 3rem;
                }
            }
        }
    }

    .pagination {
        margin: 0 0 var(--border-size-xlarge) 0;
    }

    .h-entry {
        background-color:    var(--color-true-black);
        background-position: center;
        background-size:     cover;
        border-bottom: var(--border-size-medium) solid var(--color-white);
        color: var(--color-white);
        margin:  0;
        padding: 0;
        position: relative;
        text-align: left;
        width: 100%;

        @media screen and (min-width: 800px) {
            text-align: left;
        }

        header {
            height: 100%;
            margin: 0;
            z-index: 10;
        }

        .p-name {
            height: 100%;

            &.shadowed {
                h1 { text-shadow: 0 0 2rem var(--color-black); }
                h2 { text-shadow: 0 0 1rem var(--color-black); }
            }
        }

        .article-titles {
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: 100%;
            width:  100%;

            padding: 0 var(--border-size-medium);

            @media screen and (min-width: 480px) {
                padding: 0 var(--border-size-large);
            }

            @media screen and (min-width: 960px) {
                padding: 0 50pt;
            }
        }

        .dt-published {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        h1,
        h2 {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 3.5rem;
            font-weight: 900;
            letter-spacing: -.01em;
            line-height: 1em;
            margin-bottom: .1em;

            @media screen and (min-width: 480px) {
                font-size: 3rem;
                margin-bottom: 0.2em;
            }

            @media screen and (min-width: 800px) {
                font-size: 4rem;
            }
        }

        h2 {
            font-size:   2rem;
            line-height: 1.2em;

            @media screen and (min-width: 480px) {
                font-size: 2.25rem;
            }

            @media screen and (min-width: 800px) {
                font-size: 2.5rem;
            }
        }

        a {
            color: var(--color-white);
            text-decoration: none;
        }
    } /* .h-entry */

    .row {
        @media screen and (min-width: 800px) {
            display: flex;
        }

        .h-entry {
            height: 100vw;
            width: 100%;

            &:first-of-type {
                @media screen and (min-width: 800px) {
                    border-right: var(--border-size-medium) solid var(--color-white);
                }
            }

            @media screen and (min-width: 480px) {
                height: 200pt;
                width: 100%;
            }

            @media screen and (min-width: 800px) {
                height: 300pt;
                width: 50%;
            }
        }
    }
}

#article,
  #home {
    .badge {
        display: none;
    }
}
