#home {
    article {
        max-width: 100%;
        a > h1, a > h2 { color: var(--fg-main); }
    }
    @media screen and (max-width: 800px) {
        --base-font-size: 13px;
    }

    main {
        padding: 0;
        margin: 0 auto;
    }

    .h-feed {
        margin:  0 0 var(--border-size-xsmall) 0;
        padding: 0;
        list-style: none;

        > .h-entry {
            height: 300pt;
            @media screen and (min-width: 800px) { height: 400pt; }
        }
    }

    .pagination { margin: 0 0 var(--border-size-xlarge) 0; }

    .h-entry {
        background-color:    var(--bg-main);
        background-position: center;
        background-size:     cover;
        border-bottom: var(--border-size-medium) solid var(--bg-accent);
        margin:  0;
        padding: 0;
        position: relative;
        text-align: left;
        width: 100%;

        @media screen and (min-width: 800px) { text-align: left; }

        header {
            height: 100%;
            margin: 0;
            z-index: 10;
            padding: 0 2rem;
        }

        .p-name {
            height: 100%;

            &.shadowed {
                h1 { text-shadow: .1rem 0.1rem 0.8rem var(--fg-shadow-intense); }
                h2 { text-shadow: 0 0 1rem var(--color-black); }
            }
        }

        .article-titles {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width:  100%;
            padding: 0;
        }

        .dt-published {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        h1,
        h2 {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-weight: 900;
            letter-spacing: -.01em;
            line-height: 1em;
            margin-bottom: .1em;

            @media screen and (min-width: 480px) {
                margin-bottom: 0.2em;
            }
        }

        h2 {
            line-height: 1.2em;
        }

        a {
            text-decoration: none;
        }
    }

    .row {
        @media screen and (min-width: 800px) {
            display: flex;
        }

        .h-entry {
            height: 100vw;
            width: 100%;

            &:first-of-type {
                @media screen and (min-width: 800px) {
                    border-right: var(--border-size-medium) solid var(--bg-accent);
                }
            }

            @media screen and (min-width: 480px) {
                height: 200pt;
                width: 100%;
            }

            @media screen and (min-width: 800px) {
                height: 300pt;
                width: 50%;
            }
        }
    }
}

#article,
#home {
    .badge {
        display: none;
    }
}
